/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6 oct. 2022, 14:35:31
    Author     : VALENTIN.GUINOISEAUX
*/
body {
    background-color: greenyellow;
}

.important {
    margin: 10px;
    padding: 5px;
    background-color: lightsteelblue;
    border: 1px black solid;
    text-align: left;
    width: 100px;
}